<div class="container-1">
    <div [class.mat-elevation-z4]="true" (mouseenter)="panel1.open()" (mouseleave)="panel1.close()" class="panel-1">
        <img src="../assets/img/gazillo.jpg">
        <mat-expansion-panel #panel1>
            <mat-expansion-panel-header [collapsedHeight]="'65px'" [expandedHeight]="'80px'">
                <div>
                    <span class="title">Paul Gazzilo</span><br>
                    <span class="subtitle">Sponsor</span>
                </div>
            </mat-expansion-panel-header>
            <p>Our sponsor Paul Gazzilo came to us with a vision of an open source project that will be able to sift through your code in search of security vulnerabilities. 
                        By using github repositories, you will be able to link your github and us our machine learning model to see just how secure your code really is.</p>
        </mat-expansion-panel>
    </div>
    <!-- <div class="spacer"></div> -->
    <div [class.mat-elevation-z4]="true" class="panel-1" (mouseenter)="panel2.open()" (mouseleave)="panel2.close()">
        <img src="../assets/img/Lock.jpg">
        <mat-expansion-panel #panel2>
            <mat-expansion-panel-header [collapsedHeight]="'65px'" [expandedHeight]="'80px'">
                <div>
                    <span class="title">Security Vulnerability</span><br>
                    <span class="subtitle">Main Reason</span>
                </div>
            </mat-expansion-panel-header>
            <p>When thinking about security and how much it is needed, you should also think just how secure the code you write really is. Our senior design project
                will be able to help you put your code to the test. While this is a good starting point,  you will be able to add code to our open source database.</p>
        </mat-expansion-panel>
    </div>
    <!-- <div class="spacer"></div> -->
    <div [class.mat-elevation-z4]="true" class="panel-1" (mouseenter)="panel3.open()" (mouseleave)="panel3.close()">
        <img src="../assets/img/ucf.png">
        <mat-expansion-panel #panel3>
            <mat-expansion-panel-header [collapsedHeight]="'65px'" [expandedHeight]="'80px'">
                <div>
                    <span class="title">Senior Design</span><br>
                    <span class="subtitle">Our Mission</span>
                </div>
            </mat-expansion-panel-header>
            <p>With our sponsor, we are working together to make a public web app that will be able to introduce security vulnerabilities to any projects. 
                Our mission with seeks to create a reliable place to test for security vulnerabilities. With this idea we want to be able to further the 
                reach of security assessment for anyone with a github link.</p>
        </mat-expansion-panel>
    </div>
</div>