<div class="container">
    <div class="card">
        <div class="img">
            <img src="../assets/img/gazillo.jpg">
        </div>
        <h2>Paul Gazzilo</h2>
        <h3>Sponsor</h3>
        <div class="bottom-text">
                <div class="text">
                Our sponsor Paul Gazzilo came to us with a vision of an open source project that will be able to sift through your code in search of security vulnerabilities. 
                By using github repositories, you will be able to link your github and us our machine learning model to see just how secure your code really is.
                </div>
        </div>
    </div>
    <div class="card">
        <div class="img">
            <img src="../assets/img/Lock.jpg">
        </div>
        <h2>Security Vulnerability</h2>
        <h3>Main Reason</h3>
        <div class="bottom-text">
                <div class="text">
                When thinking about security and how much it is needed, you should also think just how secure the code you write really is. Our senior design project
                will be able to help you put your code to the test. While this is a good starting point,  you will be able to add code to our open source database. 
                </div>
        </div>
    </div>
    <div class="card">
        <div class="img">
            <img src="../assets/img/ucf.png">
        </div>
        <h2>Senior Design</h2>
        <h3>Our Mission</h3>
        <div class="bottom-text">
                <div class="text">
                With our sponsor, we are working together to make a public web app that will be able to introduce security vulnerabilities to any projects. 
                Our mission with seeks to create a reliable place to test for security vulnerabilities. With this idea we want to be able to further the 
                reach of security assessment for anyone with a github link.
                </div>
        </div>
    </div>
</div>
