<!--<div class="container-1">
          <mat-expansion-panel #panel1>
              <mat-expansion-panel-header [collapsedHeight]="'80px'" [expandedHeight]="'100px'">
                  <div>
                      <span class="title">Machine Learning</span><br>
                      <span class="subtitle">Examples</span>
                  </div>
              </mat-expansion-panel-header>
            <p> I look better than a blank page.<br>
        ................................................................................<br>
        ................................................................................<br>
        ................................................................................<br>
        ..............................................,*******..........................<br>
        .........................................,*******(&*******,.....................<br>
        ..................................************%&&&&&&&***********,..............<br>
        .................................,**************&&&&**************..............<br>
        ................................***********#%&&&&&&&&&%(**********,.............<br>
        ................................***************#********************............<br>
        ..................(((((............*%&%**********************&&(,...............<br>
        ....(((.......(((((((.............*(((((((((((((((((((((((((*...................<br>
        ...(((((((((,.(((((((((...........(((((((((((((((((((((((((((((((...............<br>
        ....((((((((((((((((((..........*((((((((((((((((((((((((((((((((((.............<br>
        .....,((((((((((((((...........(((((((((((((((((((((((((((((((((((((............<br>
        ..........*((((((((.........((((((((((((((((((((((((((((((((((((((((............<br>
        .............*(((((((......((((((((((((((((((((((((((((((((((((((((((...........<br>
        ..............((((((((((((((((((((((((((((((,....((((((((((((((((((((...........<br>
        ...............*((((((((((((((((((((((((((((,....((((((((((((...................<br>
        .................((((((((((((((((((((((((((((((((((((((((.......................<br>
        ...................((((((((((((((((((((((((((((((((,..........**................<br>
        .....................(((((((((((((((((((((((((((((((((((((((((((((..............<br>
        ........................((((((((((((((((((((((((((((((((((((((((................<br>
        ...........................*(((((((((((((((((((((((((((((((((...................<br>
        .............................((((((((((((((((((((((((((((.......................<br>
        ...........................(((((((,...,(((((((*.................................<br>
        ................................................................................<br>
        ................................................................................<br>
        ................................................................................<br>
              </p>
          </mat-expansion-panel>
  </div>
-->
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>One-Dimensional Convolutional Neural Network</mat-card-title>
    <mat-card-subtitle>Image Model</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../../assets/img/imagemodel1.png" alt="Image Model">
  <img mat-card-image src="../../assets/img/imagemodel2.png" alt="Image Model">
  <mat-card-content>
    <p>
      Convolutional neural network models were developed for image classification problems,
      where the model learns an internal representation of a two-dimensional input, in a process
      referred to as feature learning.
    </p>
  </mat-card-content>
</mat-card>

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Long Short-Term Memory (LSTM) Network</mat-card-title>
    <mat-card-subtitle>LSTM Network</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../../assets/img/lstmmodel1.png" alt="Image Model">
  <img mat-card-image src="../../assets/img/lstmmodel2.png" alt="Image Model">
  <mat-card-content>
    <p>
      Long short-term memory (LSTM) is an artifical recurrent neural network (RNN) architecture
      used in the field of deep learning. Unlike standard feedforward neural networks, LSTM has
      feedback connections.
    </p>
  </mat-card-content>
</mat-card>

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Random Decision Forests</mat-card-title>
    <mat-card-subtitle>Random forests</mat-card-subtitle>
  </mat-card-header>
  <!--<img mat-card-image src="../../assets/img/lstmmodel1.png" alt="Image Model">
  <img mat-card-image src="../../assets/img/lstmmodel2.png" alt="Image Model">-->
  <mat-card-content>
    <p>
      Random forests or random decision forests are an ensemble learning method for classification,
      regression and other tasks that operate by constructing a multitude of decision trees at training
      time and outputting the class that is the mode of the classes or mean/average prediction of the
      individual trees.
    </p>
  </mat-card-content>
</mat-card>