<div class="container-1">
          <mat-expansion-panel #panel1>
              <mat-expansion-panel-header [collapsedHeight]="'80px'" [expandedHeight]="'100px'">
                  <div>
                      <span class="title">Machine Learning</span><br>
                      <span class="subtitle">Examples</span>
                  </div>
              </mat-expansion-panel-header>
            <p> I look better than a blank page.<br>
        ................................................................................<br>
        ................................................................................<br>
        ................................................................................<br>
        ..............................................,*******..........................<br>
        .........................................,*******(&*******,.....................<br>
        ..................................************%&&&&&&&***********,..............<br>
        .................................,**************&&&&**************..............<br>
        ................................***********#%&&&&&&&&&%(**********,.............<br>
        ................................***************#********************............<br>
        ..................(((((............*%&%**********************&&(,...............<br>
        ....(((.......(((((((.............*(((((((((((((((((((((((((*...................<br>
        ...(((((((((,.(((((((((...........(((((((((((((((((((((((((((((((...............<br>
        ....((((((((((((((((((..........*((((((((((((((((((((((((((((((((((.............<br>
        .....,((((((((((((((...........(((((((((((((((((((((((((((((((((((((............<br>
        ..........*((((((((.........((((((((((((((((((((((((((((((((((((((((............<br>
        .............*(((((((......((((((((((((((((((((((((((((((((((((((((((...........<br>
        ..............((((((((((((((((((((((((((((((,....((((((((((((((((((((...........<br>
        ...............*((((((((((((((((((((((((((((,....((((((((((((...................<br>
        .................((((((((((((((((((((((((((((((((((((((((.......................<br>
        ...................((((((((((((((((((((((((((((((((,..........**................<br>
        .....................(((((((((((((((((((((((((((((((((((((((((((((..............<br>
        ........................((((((((((((((((((((((((((((((((((((((((................<br>
        ...........................*(((((((((((((((((((((((((((((((((...................<br>
        .............................((((((((((((((((((((((((((((.......................<br>
        ...........................(((((((,...,(((((((*.................................<br>
        ................................................................................<br>
        ................................................................................<br>
        ................................................................................<br>
              </p>
          </mat-expansion-panel>
  </div>
