 <!--
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

   Date Column 
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
  </ng-container>

   Github Column 
  <ng-container matColumnDef="github">
    <th mat-header-cell *matHeaderCellDef> Github Link </th>
    <td mat-cell *matCellDef="let element"> {{element.github}} </td>
  </ng-container>

  Description Column
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Description </th>
    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
  </ng-container>

  <ng-container matColumnDef="vulnerable">
    <th mat-header-cell *matHeaderCellDef> Vulnerable </th>
    <td mat-cell *matCellDef="let element"> {{element.vulnerable}} </td>
  </ng-container>

  <ng-container matColumnDef="severity">
    <th mat-header-cell *matHeaderCellDef> Chance of Vulnerability </th>
    <td mat-cell *matCellDef="let element"> {{element.severity}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>-->
<div *ngFor="let repo of repository$ | async">
  <table mat-table [dataSource]="repo.predictions" matSort>
      <!-- Position Column -->
      <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element">{{element.date}} </td>
      </ng-container>
  
      <!-- File Column -->
      <ng-container matColumnDef="filepath">
          <th mat-header-cell *matHeaderCellDef> Filepath </th>
          <td mat-cell *matCellDef="let element" style="overflow:hidden">{{element.github}} </td>
      </ng-container>
  
  
      <!-- Commits Column -->
      <ng-container matColumnDef="avg-vuln">
          <th mat-header-cell *matHeaderCellDef> Avg Vulnerability </th>
          <td mat-cell *matCellDef="let element">{{element.description}} </td>
      </ng-container>

      <!-- Commits Column -->
      <ng-container matColumnDef="model">
          <th mat-header-cell *matHeaderCellDef> Model Tested </th>
          <td mat-cell *matCellDef="let element">{{element.vulnerable}} </td>
      </ng-container>

      <!-- Commits Column -->
      <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Date </th>
          <td mat-cell *matCellDef="let element">{{element.severity}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
