@import '../../app.component.scss';
  
table{
  width: 85%;
  margin-left: 100px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.mat-column-files {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 28% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.pdf-convert-button{
  width: 200px;
  display: table-cell;
  position: relative;
  justify-content: center;
  align-items: center;
}
