<div class = "container">
    <div class="card">
    <input type="url" #message placeholder="https://github.com/"> 
    <button mat-stroked-button color="primary" (click)="addRepository(message.value)"> Run Test </button>
    <table class="table">
        <tr>
            <td data-title="commits">The number of commits used:</td>
           <td> 20 </td>
        </tr>
        <tr>
            <td data-title="severity"> The severity for this github is:</td>
            <td> Low </td>
        </tr> 
        <tr>
            <td data-title="vulnerability"> Is this guthub link vulnerabile:</td>
            <td> Yes </td>
        </tr>
    </table> 
    </div>
</div>
<!-- <div class = "container">
    <div class="card">
    <span>Enter Repository Json String</span>
    <input type="url" #json (keyup.enter)="addMLData(json.value)"><br>
    </div>
</div> -->