<div class = "container">
    <!-- <div class="card"> -->
    <!-- <input type="url" #message placeholder="https://github.com/"> 
    <button mat-stroked-button color="primary" (click)="addRepository(message.value)"> Run Test </button>
    <table class="table">
        <tr>
            <td data-title="commits">The number of commits used:</td>
           <td> 20 </td>
        </tr>
        <tr>
            <td data-title="severity"> The severity for this github is:</td>
            <td> Low </td>
        </tr> 
        <tr>
            <td data-title="vulnerability"> Is this guthub link vulnerabile:</td>
            <td> Yes </td>
        </tr>
    </table>  -->
    <!-- </div> -->
    <mat-expansion-panel hideToggle class="panel">
        <mat-expansion-panel-header>
            <div style="width: 100%;" class="center">
                <input type="url" #url placeholder="https://github.com/">
                <button mat-stroked-button color="primary" (click)="addRepository(url.value)"> Run Test </button>
            </div>
        </mat-expansion-panel-header>
        <mat-grid-list class="grid" cols="12" rowHeight="2:1">
            <mat-grid-tile style="border: solid;" [colspan]="8" [rowspan]="4">
                <h1>{{ url.value }}</h1>
            </mat-grid-tile>
            <mat-grid-tile style="z-index: 5;" [colspan]="4" [rowspan]="1">
                <div #severityTextDiv [ngStyle]="scalables.severityText.style">Severity</div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="4" [rowspan]="5">
                <!-- <h2>Severity</h2> -->
                <div #severityIconDiv class="image-icon-div">
                    <mat-icon style="color: #76ff03;" [ngStyle]="scalables.severityIcon.style">verified</mat-icon>
                </div>
            </mat-grid-tile>
            <mat-grid-tile style="border: solid;" [colspan]="4" [rowspan]="2">3</mat-grid-tile>
            <mat-grid-tile style="border: solid;" [colspan]="4" [rowspan]="2">4</mat-grid-tile>
        </mat-grid-list>
    </mat-expansion-panel>
</div>
<!-- <div class = "container">
    <div class="card">
    <span>Enter Repository Json String</span>
    <input type="url" #json (keyup.enter)="addMLData(json.value)"><br>
    </div>
</div> -->