.navbar {
    position: fixed;
    width: 240px;
    top: 0;
    left: 0;
    height: 100%;
    background: #1e1e1e;
    transition: all .5s ease;
    overflow: auto;
}

.navbar header{
    font-size: 28px;
    color: white;
    line-height: 70px;
    text-align: center;
    background: #1b1b1b;
    user-select: none;
    font-family: 'Montserrat', sans-serif;
}

.navbar-btn {
    display: block;
    line-height: 65px;
    height: 65px;
    width: 240;
    color: #dedede;
    padding-left: 30px;
    border-bottom: 1px solid black;
    border-top: 1px solid rgba(255,255,255,.1);
    font-family: 'Open Sans', sans-serif;
    transition: all .2s ease;
    background: transparent;
}

.navbar-btn:hover {
    /* border-left: 5px solid #20B2AA; */
    color: white;
    background-image:
    linear-gradient(
      to right, 
      #40ada8,
      #40ada8 5px,
      #1e1e1e 5px,
      #1e1e1e 100%
    );
}

.navbar-btn:focus {
    color: #20B2AA;
    outline: none;
    background-image:
    linear-gradient(
      to right, 
      #20B2AA,
      #20B2AA 5px,
      #1e1e1e 5px,
      #1e1e1e 100%
    );
}

.navbar span {
    font-size: 23px;
    margin-right: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: default;
}

