<div style="overflow: hidden;">
<header>Security Whale</header>
<!-- <div (mouseover)="hover('dashboardStyle')" (mouseleave)="default('dashboardStyle')" [ngStyle]="dashboardStyle" class="navbar-btn" (click)="router.navigate(['dashboard']);"><h1>dashboard</h1></div>
<div (mouseover)="hover('historyStyle')" (mouseleave)="default('historyStyle')" [ngStyle]="historyStyle" class="navbar-btn" tabindex="2" (click)="router.navigate(['history']);"><h1>history</h1></div>
<div (mouseover)="hover('examplesStyle')" (mouseleave)="default('examplesStyle')" [ngStyle]="examplesStyle" class="navbar-btn" tabindex="3" (click)="router.navigate(['ml-examples']);"><h1>ml examples</h1></div>
<div (mouseover)="hover('aboutStyle')" (mouseleave)="default('aboutStyle')" [ngStyle]="aboutStyle" class="navbar-btn" tabindex="4" (click)="router.navigate(['about']);"><h1>about</h1></div>
<div (mouseover)="hover('legalStyle')" (mouseleave)="default('legalStyle')" [ngStyle]="legalStyle" class="navbar-btn" tabindex="5" (click)="router.navigate(['legal-notes']);"><h1>legal notes</h1></div> -->
<mat-button-toggle-group vertical>
    <mat-button-toggle #dashboard (click)="router.navigate(['dashboard']);">DASHBOARD</mat-button-toggle>
    <mat-button-toggle #history (click)="router.navigate(['history']);">HISTORY</mat-button-toggle>
    <mat-button-toggle #ml (click)="router.navigate(['ml-examples']);">ML EXAMPLES</mat-button-toggle>
    <mat-button-toggle #about (click)="router.navigate(['about']);">ABOUT</mat-button-toggle>
    <mat-button-toggle #legal (click)="router.navigate(['legal-notes']);">LEGAL NOTES</mat-button-toggle>
</mat-button-toggle-group>
</div>
