<div class="navbar">
    <div class="navbar-btn" tabindex="1" (click)="router.navigate(['dashboard']);"><span>dashboard</span></div>
    <div class="navbar-btn" tabindex="2" (click)="router.navigate(['history']);"><span>history</span></div>
    <div class="navbar-btn" tabindex="3" (click)="router.navigate(['examples']);"><span>ml examples</span></div>
    <div class="navbar-btn" tabindex="4" (click)="router.navigate(['about']);"><span>about</span></div>
    <div class="navbar-btn" tabindex="5" (click)="router.navigate(['legal-notes']);"><span>legal notes</span></div>
</div>
