@import '../../../themes/bluegreen.scss';

.navbar-btn {
    display: block;
    line-height: 65px;
    height: 65px;
    width: 240;
    background: mat-color($main-app-primary, default-contrast);
    color: mat-color($main-app-primary, default-contrast);
    padding-left: 30px;
    border-bottom: 1px solid black;
    border-top: 1px solid rgba(255,255,255,.1);
    font-family: 'Open Sans', sans-serif;
    transition: all .2s ease;
    background: transparent;
}

.navbar-btn:hover {
    /* border-left: 5px solid #20B2AA; */
    color: white;
    background-image:
    linear-gradient(
      to right, 
      #40ada8,
      #40ada8 5px,
      #242424 5px,
      #242424 100%
    );
}

.navbar-btn:focus {
    color: #20B2AA;
    outline: none;
    background-image:
    linear-gradient(
      to right, 
      #20B2AA,
      #20B2AA 5px,
      #303030 5px,
      #303030 100%
    );
}

.navbar h1 {
    font-size: 23px;
    margin-right: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: default;
}

