

.route-container {
    padding-top: 20px;
}

.main-container {
    height: -webkit-calc(100% - 64px);
    height:    -moz-calc(100% - 64px);
    height:         calc(100% - 64px);
    width: 100%;
}

.spacer {
    flex: 1 1 auto;
}

.tool-item {
    margin-left: 15px;
}

.title {
    font-weight: bold;
    font-size: large;
    letter-spacing: .5px;
}

:host-context(.light-theme) .title {
    color: var(--title-light-theme);
}

:host-context(.dark-theme) .title {
    color: var(--title-dark-theme);
}

:host-context(.light-theme) .subtitle {
    color: var(--subtitle-light-theme);
}

:host-context(.dark-theme) .subtitle {
    color: var(--subtitle-dark-theme);
}