

.route-container {
    position: absolute;
    /* background: black; */
    left: 240px;
    height: 100%;
    overflow: auto;
    top: 0px;
    width: -webkit-calc(100% - 240px);
    width:    -moz-calc(100% - 240px);
    width:         calc(100% - 240px);
}

.main-container {
    height: 100%;
    width: 100%;
}

.image-icon {
    height: 32px;
    image-rendering: crisp-edges;
}

.spacer {
    flex: 1 1 auto;
}

.tool-item {
    margin-left: 10px;
}